[Unit]
Description=<%=@description%>

[Service]
Type=simple
PIDFile=/run/<%=@mservice%>.pid
ExecStart=<%= scope.lookupvar('microservice::params::java::bin_exec') %> <%=@bin_opts%> <%=@path%>/<%=@mservice%>.jar <%=@service_opts%>
User=<%=@user%>
Group=<%=@group%>
TimeoutSec=0

[Install]
WantedBy=multi-user.target
