[Unit]
Description=<%=@description%>

[Service]
Type=simple
PIDFile=/run/<%=@mservice%>.pid
ExecStart=<%=@bin_opts%> <%= scope.lookupvar('microservice::params::node::bin_exec')%> <%=@path%>/<%=@mservice%> <%=@service_opts%>
User=<%=@user%>
Group=<%=@group%>
TimeoutSec=0

[Install]
WantedBy=multi-user.target
