[Unit]
Description=<%=@description%>

[Service]
Type=simple
PIDFile=/run/<%=@mservice%>.pid
ExecStart=<%= scope.lookupvar('kidstoschool::java::bin_exec') %> <%=@bin_opts%> <%= scope.lookupvar('kidstoschool::java::installed_path') %>/<%=@mservice%>/<%=@version%>/<%=@mservice%>-<%=@version%>.jar <%=@service_opts%>
User=<%=@user%>
Group=<%=@group%>
TimeoutSec=0

[Install]
WantedBy=multi-user.target
