[Unit]
Description=<%=@description%>

[Service]
Type=simple
PIDFile=/run/<%=@mservice%>.pid
ExecStart=<%=@bin_opts%> <%= scope.lookupvar('kidstoschool::nodejs::bin_exec')%> <%= scope.lookupvar('kidstoschool::nodejs::installed_path')%>/<%=@mservice%>/<%=@mservice%> <%=@service_opts%>
User=<%=@user%>
Group=<%=@group%>
TimeoutSec=0

[Install]
WantedBy=multi-user.target
