[default]
<% if @ssl -%>
ssl      = True
port     = <%= @ssl_management_port %>
hostname = <%=scope.lookupvar('hosts::params::speiseplan_b::network_ip')%>
<% else -%>
port     = <%= @management_port %>
hostname = <%=scope.lookupvar('hosts::params::speiseplan_b::network_ip')%>
<% end -%>
