FROM speiseplan.menu:5000/virus/docker_node_box:stable
MAINTAINER virus  "virus@speiseplan.menu"

RUN mkdir -p /apps/<%= @mservice %>
ADD dist /apps/<%= @mservice %>/

# expose
EXPOSE <%=@port%>

WORKDIR /apps/<%=@mservice%>/