FROM speiseplan.menu:5000/virus/docker_node_box:stable
MAINTAINER virus  "virus@speiseplan.menu"

RUN mkdir -p /apps/<%= @mservice %>
RUN mkdir -p /apps/<%= @mservice %>/kitchen_front
RUN mkdir -p /apps/<%= @mservice %>/portal_front
ADD dist /apps/<%= @mservice %>/

# expose
EXPOSE <%= @port %>

WORKDIR /apps/<%= @mservice %>/