FROM speiseplan.menu:5000/virus/docker_java_box:stable
MAINTAINER virus  "virus@speiseplan.menu"

RUN mkdir -p /apps/<%= @mservice %>
ADD <%= @mservice %>-<%= @flavour %>.jar /apps/<%= @mservice %>/

# expose
EXPOSE <%=@port%>

WORKDIR /apps/<%=@mservice%>/