FROM <%=scope.lookupvar('profiles::docker::images::registry::params::host_port')%>/<%=scope.lookupvar('profiles::docker::images::registry::params::user')%>/<%=@from%>
MAINTAINER <%=scope.lookupvar('profiles::docker::images::registry::params::user')%>  "<%=scope.lookupvar('profiles::docker::images::registry::params::contact')%>"

# this step could be executed inside the image with puppet and it will be 100% free from host
ADD modules /modules/

# puppet code
<% @puppet_code.each do |code| -%>
    RUN puppet apply --debug --modulepath=/modules -e  "<%= code %>"
<% end -%>

# expose
EXPOSE <%=@port%>

# workdir
WORKDIR /wiremock
