FROM <%= @from %>
MAINTAINER <%= scope.lookupvar('profiles::docker::images::registry::params::user') %>  "<%= scope.lookupvar('profiles::docker::images::registry::params::contact') %>"

# expose
EXPOSE 8081