FROM debian:<%= @version %>
MAINTAINER <%= scope.lookupvar('profiles::docker::images::registry::params::user') %>  <%= scope.lookupvar('profiles::docker::images::registry::params::contact') %>

# apt stuff, install latest version of puppet
RUN apt-get update && apt-get -y install wget
RUN wget --no-check-certificate https://apt.puppetlabs.com/puppetlabs-release-<%= @version %>.deb -P /tmp
RUN dpkg -i /tmp/puppetlabs-release-<%= @version %>.deb

RUN apt-get -y update && apt-get -y install \
    puppet

ENV LANG=C.UTF-8